<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS 예제</title>
  </head>
  <body>
    <!-- { name: "김사과" } -->
    <h2>안녕하세여, <%= name %>님!</h2>
  </body>
</html>

<!-- 서버측 자마스크립트 코드를 작성 -->
